<div class="category-list">
  <h1>Categories</h1>

  <div class="actions">
    <a class="btn primary" routerLink="/categories/add">Add Category</a>
  </div>

  <ng-container *ngIf="loading">
      Loading…
  </ng-container>
  <div *ngIf="error" class="error">{{ error }}</div>

  <ul *ngIf="!loading && !error && categories.length > 0">
    <li *ngFor="let category of categories" class="row">
      <span class="name">{{ category.name }}</span>
      <a class="btn secondary" [routerLink]="['/categories', category.id]">View</a>
      <a class="btn secondary" [routerLink]="['/categories', category.id, 'edit']">Edit</a>
      <button class="remove" (click)="removeCategory(category)">Delete</button>
    </li>
  </ul>

  <div *ngIf="!loading && !error && categories.length === 0">
    No categories to display.
  </div>
</div>
